ProjectIOT-Gr09.json
[{"id":"b75ae1f8a1b5dfd2","type":"tab","label":"Smart Classroom FULL Telegram","disabled":false,"info":"Dashboard 2.0 + MQTT + ThingSpeak + Blynk + Telegram HTTP"},{"id":"8f30b09488e27ba0","type":"mqtt in","z":"b75ae1f8a1b5dfd2","name":"Sensors JSON","topic":"classroom/sensors","qos":"0","datatype":"json","broker":"mqtt_broker_ff_telegram","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":90,"wires":[["917f3332030f698e"]]},{"id":"917f3332030f698e","type":"function","z":"b75ae1f8a1b5dfd2","name":"Edge AI: Focus Score","func":"const data = msg.payload || {};\nconst temp = Number(data.temperature);\nconst humidity = Number(data.humidity);\nconst light = Number(data.light);\nconst motion = Number(data.motion);\nconst mode = data.mode || \"AUTO\";\n\nlet tempScore = (temp >= 24 && temp <= 28) ? 40 : (temp >= 22 && temp <= 30 ? 25 : 5);\nlet lightScore = (light >= 40 && light <= 85) ? 40 : (light >= 25 ? 25 : 5);\nlet motionScore = motion === 1 ? 20 : 0;\nlet focusScore = tempScore + lightScore + motionScore;\n\nlet status = \"Excellent\";\nlet led = \"GREEN\";\nlet buzzer = \"OFF\";\nlet servo = \"CLOSE\";\nlet alert = false;\nlet reason = [];\n\nif (focusScore < 50) {\n    status = \"Poor\";\n    led = \"RED\";\n} else if (focusScore < 80) {\n    status = \"Moderate\";\n    led = \"YELLOW\";\n}\n\nif (temp > 30) {\n    alert = true;\n    buzzer = \"ON\";\n    servo = \"OPEN\";\n    reason.push(\"Temperature too high\");\n}\n\nif (light < 25 && motion === 1) {\n    alert = true;\n    led = \"RED\";\n    reason.push(\"Room too dark while occupied\");\n}\n\nif (motion === 0 && light > 70) {\n    reason.push(\"Light is on but no one is detected\");\n}\n\n// ===== Edge AI / ML: Moving Average + Trend Prediction =====\nlet history = context.get(\"history\") || [];\n\nhistory.push({\n    temp: temp,\n    humidity: humidity,\n    light: light,\n    focus: focusScore,\n    time: Date.now()\n});\n\nif (history.length > 5) {\n    history.shift();\n}\n\ncontext.set(\"history\", history);\n\nlet avgTemp = history.reduce((sum, x) => sum + x.temp, 0) / history.length;\nlet avgFocus = history.reduce((sum, x) => sum + x.focus, 0) / history.length;\n\nlet trend = \"Stable\";\nlet prediction = \"Normal\";\nlet anomaly = false;\n\nif (history.length >= 5) {\n    let first = history[0];\n    let last = history[history.length - 1];\n\n    if (last.temp > first.temp + 1) {\n        trend = \"Temperature Rising\";\n        prediction = \"Room may become too hot soon\";\n        servo = \"OPEN\";\n        led = \"YELLOW\";\n        reason.push(\"Predicted temperature rising\");\n    }\n\n    if (last.focus < first.focus - 10) {\n        trend = \"Focus Decreasing\";\n        prediction = \"Learning condition may get worse\";\n        led = \"YELLOW\";\n        reason.push(\"Predicted focus decreasing\");\n    }\n}\n\nif (Math.abs(temp - avgTemp) > 3) {\n    anomaly = true;\n    alert = true;\n    buzzer = \"ON\";\n    led = \"RED\";\n    reason.push(\"Temperature anomaly detected\");\n}\n\nmsg.payload = {\n    temperature: temp,\n    humidity: humidity,\n    light: light,\n    motion: motion,\n    mode: mode,\n    focus_score: focusScore,\n\n    avg_temperature: Number(avgTemp.toFixed(2)),\n    avg_focus: Number(avgFocus.toFixed(2)),\n    trend: trend,\n    prediction: prediction,\n    anomaly: anomaly,\n\n    status: status,\n    led: led,\n    buzzer: buzzer,\n    servo: servo,\n    alert: alert,\n    reason: reason.join(\", \") || \"Normal\"\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":90,"wires":[["ad012d0bee49b50c","85c6166f273067f0","df3218e8e694e99d","4ba3c39062221b75","28b18782f5782836","a83357a8fea6b112","1c0d07820ee2784a"]]},{"id":"85c6166f273067f0","type":"debug","z":"b75ae1f8a1b5dfd2","name":"AI Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":40,"wires":[]},{"id":"ad012d0bee49b50c","type":"ui-template","z":"b75ae1f8a1b5dfd2","group":"ui_group_main_telegram","page":"","ui":"","name":"Smart Classroom UI","order":1,"width":"12","height":"10","head":"","format":"\n<template>\n  <div class=\"smart-wrap\">\n    <div class=\"hero\">\n      <div>\n        <h1>Smart Classroom Focus Monitor</h1>\n        <p>ESP32 → MQTT → Node-RED → Dashboard 2.0</p>\n      </div>\n      <div class=\"badge\" :class=\"statusClass\">{{ latest.status || 'Waiting...' }}</div>\n    </div>\n\n    <div class=\"grid\">\n      <div class=\"card\"><div class=\"label\">Temperature</div><div class=\"value\">{{ num(latest.temperature) }}<span>°C</span></div><progress :value=\"safe(latest.temperature)\" max=\"50\"></progress></div>\n      <div class=\"card\"><div class=\"label\">Humidity</div><div class=\"value\">{{ num(latest.humidity) }}<span>%</span></div><progress :value=\"safe(latest.humidity)\" max=\"100\"></progress></div>\n      <div class=\"card\"><div class=\"label\">Light</div><div class=\"value\">{{ safe(latest.light) }}<span>%</span></div><progress :value=\"safe(latest.light)\" max=\"100\"></progress></div>\n      <div class=\"card\"><div class=\"label\">Focus Score</div><div class=\"value\">{{ safe(latest.focus_score) }}<span>/100</span></div><progress :value=\"safe(latest.focus_score)\" max=\"100\"></progress></div>\n    </div>\n\n    <div class=\"grid two\">\n      <div class=\"card\"><div class=\"label\">Motion</div><div class=\"value\">{{ latest.motion === 1 ? 'Detected' : 'No motion' }}</div></div>\n      <div class=\"card\"><div class=\"label\">Mode</div><div class=\"value\">{{ latest.mode || 'AUTO' }}</div></div>\n    </div>\n\n    <div class=\"card reason\">\n      <div class=\"label\">Room Status / Reason</div>\n      <div class=\"reason-text\">{{ latest.reason || 'Waiting for sensor data...' }}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"label\">Manual Control</div>\n      <div class=\"buttons\">\n        <button @click=\"cmd('classroom/control/mode','AUTO')\">AUTO</button>\n        <button @click=\"cmd('classroom/control/mode','MANUAL')\">MANUAL</button>\n        <button @click=\"cmd('classroom/control/led','GREEN')\">LED GREEN</button>\n        <button @click=\"cmd('classroom/control/led','YELLOW')\">LED YELLOW</button>\n        <button @click=\"cmd('classroom/control/led','RED')\">LED RED</button>\n        <button @click=\"cmd('classroom/control/led','OFF')\">LED OFF</button>\n        <button @click=\"cmd('classroom/control/buzzer','ON')\">BUZZER ON</button>\n        <button @click=\"cmd('classroom/control/buzzer','OFF')\">BUZZER OFF</button>\n        <button @click=\"cmd('classroom/control/servo','OPEN')\">SERVO OPEN</button>\n        <button @click=\"cmd('classroom/control/servo','CLOSE')\">SERVO CLOSE</button>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data () { return { latest: {} } },\n  watch: {\n    msg: {\n      handler (m) {\n        if (m && m.payload && typeof m.payload === 'object' && !Array.isArray(m.payload)) this.latest = m.payload\n      },\n      deep: true,\n      immediate: true\n    }\n  },\n  computed: {\n    statusClass () {\n      const s = (this.latest.status || '').toLowerCase()\n      if (s.includes('excellent')) return 'ok'\n      if (s.includes('moderate')) return 'warn'\n      if (s.includes('poor')) return 'bad'\n      return ''\n    }\n  },\n  methods: {\n    safe (v) { const n = Number(v); return Number.isFinite(n) ? n : 0 },\n    num (v) { const n = Number(v); return Number.isFinite(n) ? n.toFixed(1) : '0.0' },\n    cmd (topic, payload) { this.send({ topic, payload }) }\n  }\n}\n</script>\n\n<style>\n.smart-wrap { font-family: Arial, sans-serif; padding: 8px; }\n.hero { display: flex; justify-content: space-between; align-items: center; gap: 12px; margin-bottom: 14px; }\n.hero h1 { margin: 0; font-size: 1.6rem; }\n.hero p { margin: 4px 0 0; opacity: 0.75; }\n.badge { padding: 10px 14px; border-radius: 999px; background: #64748b; color: white; font-weight: bold; }\n.badge.ok { background: #16a34a; }\n.badge.warn { background: #ca8a04; }\n.badge.bad { background: #dc2626; }\n.grid { display: grid; grid-template-columns: repeat(4, minmax(120px, 1fr)); gap: 12px; margin-bottom: 12px; }\n.grid.two { grid-template-columns: repeat(2, minmax(120px, 1fr)); }\n.card { border: 1px solid #ddd; border-radius: 14px; padding: 14px; background: white; box-shadow: 0 2px 10px rgba(0,0,0,0.06); }\n.label { font-size: 0.9rem; opacity: 0.65; margin-bottom: 8px; }\n.value { font-size: 2rem; font-weight: bold; }\n.value span { font-size: 1rem; margin-left: 4px; opacity: 0.7; }\nprogress { width: 100%; margin-top: 10px; }\n.reason-text { font-size: 1.1rem; font-weight: 600; }\n.buttons { display: flex; flex-wrap: wrap; gap: 8px; }\nbutton { border: 0; border-radius: 10px; padding: 10px 12px; cursor: pointer; background: #0f766e; color: white; font-weight: 600; }\nbutton:hover { filter: brightness(1.1); }\n@media (max-width: 900px) { .grid { grid-template-columns: repeat(2, minmax(120px, 1fr)); } }\n@media (max-width: 520px) { .grid, .grid.two { grid-template-columns: 1fr; } .hero { flex-direction: column; align-items: flex-start; } }\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":650,"y":100,"wires":[["5993da66f3819f8a"]]},{"id":"df3218e8e694e99d","type":"function","z":"b75ae1f8a1b5dfd2","name":"Build actuator commands","func":"const p = msg.payload || {};\n\n// In MANUAL mode, AI must NOT overwrite manual/Blynk control commands.\n// Dashboard/cloud/database/telegram still receive data from other branches.\nif (String(p.mode || \"AUTO\").toUpperCase() !== \"AUTO\") {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"MANUAL mode: skip auto actuator\"\n    });\n    return null;\n}\n\n// AUTO mode: send all actuator commands through the same single output.\n// This avoids the problem where only the first array item was sent.\nnode.send({\n    payload: p.led || \"OFF\",\n    topic: \"classroom/control/led\"\n});\n\nnode.send({\n    payload: p.buzzer || \"OFF\",\n    topic: \"classroom/control/buzzer\"\n});\n\nnode.send({\n    payload: p.servo || \"CLOSE\",\n    topic: \"classroom/control/servo\"\n});\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `AUTO: LED=${p.led}, BUZZER=${p.buzzer}, SERVO=${p.servo}`\n});\n\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":170,"wires":[["92690e2d157d48d6"]]},{"id":"92690e2d157d48d6","type":"mqtt out","z":"b75ae1f8a1b5dfd2","name":"Auto Control ESP32","topic":"","qos":"0","retain":"false","broker":"mqtt_broker_ff_telegram","x":930,"y":170,"wires":[]},{"id":"5993da66f3819f8a","type":"mqtt out","z":"b75ae1f8a1b5dfd2","name":"Manual Control from Dashboard","topic":"","qos":"0","retain":"false","broker":"mqtt_broker_ff_telegram","x":950,"y":100,"wires":[]},{"id":"4ba3c39062221b75","type":"function","z":"b75ae1f8a1b5dfd2","name":"Telegram message if alert","func":"// Telegram via HTTP API. ใส่ Token และ Chat ID ของคุณตรงนี้\nconst BOT_TOKEN = \"8793526943:AAGuZPH4Cf9Yxrsk192DpS0CZSwdVqdsP4g\";\nconst CHAT_ID = \"7034627442\";\n\nif (!msg.payload.alert) return null;\n\nconst text =\n`⚠️ Smart Classroom Alert\nStatus: ${msg.payload.status}\nReason: ${msg.payload.reason}\n\nTemp: ${msg.payload.temperature}°C\nHumidity: ${msg.payload.humidity}%\nLight: ${msg.payload.light}%\nMotion: ${msg.payload.motion}\nFocus Score: ${msg.payload.focus_score}/100`;\n\nmsg.method = \"GET\";\nmsg.url = `https://api.telegram.org/bot${BOT_TOKEN}/sendMessage?chat_id=${CHAT_ID}&text=${encodeURIComponent(text)}`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["29b9926caa32bb5f"]]},{"id":"29b9926caa32bb5f","type":"http request","z":"b75ae1f8a1b5dfd2","name":"Send Telegram Alert","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":930,"y":240,"wires":[["012becc5a62ea8b0"]]},{"id":"012becc5a62ea8b0","type":"debug","z":"b75ae1f8a1b5dfd2","name":"Telegram Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":240,"wires":[]},{"id":"28b18782f5782836","type":"function","z":"b75ae1f8a1b5dfd2","name":"Format for InfluxDB","func":"const p = msg.payload;\nmsg.measurement = 'classroom_environment';\nmsg.payload = {\n  temperature: p.temperature,\n  humidity: p.humidity,\n  light: p.light,\n  motion: p.motion,\n  focus_score: p.focus_score\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":300,"wires":[["e9d60dce296347f1","808db0b85f0d3e1b"]]},{"id":"e9d60dce296347f1","type":"debug","z":"b75ae1f8a1b5dfd2","name":"InfluxDB Placeholder - connect influxdb out here","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":360,"wires":[]},{"id":"19b203f64b52ba0c","type":"delay","z":"b75ae1f8a1b5dfd2","name":"ThingSpeak rate limit 20s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":900,"y":440,"wires":[["25e737a4f651df94"]]},{"id":"25e737a4f651df94","type":"http request","z":"b75ae1f8a1b5dfd2","name":"Send to ThingSpeak","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"headers":[],"x":1140,"y":440,"wires":[["ed4807c6872ba3f2"]]},{"id":"ed4807c6872ba3f2","type":"debug","z":"b75ae1f8a1b5dfd2","name":"ThingSpeak Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1360,"y":440,"wires":[]},{"id":"a83357a8fea6b112","type":"function","z":"b75ae1f8a1b5dfd2","name":"Build Blynk URLs","func":"const p = msg.payload;\nconst TOKEN = '1CgX374K7Kf02PIZQ6TW05d_RUOSxYgX';\nmsg.payload = [\n`https://blynk.cloud/external/api/update?token=${TOKEN}&V0=${p.temperature}`,\n`https://blynk.cloud/external/api/update?token=${TOKEN}&V1=${p.humidity}`,\n`https://blynk.cloud/external/api/update?token=${TOKEN}&V2=${p.light}`,\n`https://blynk.cloud/external/api/update?token=${TOKEN}&V3=${p.motion}`,\n`https://blynk.cloud/external/api/update?token=${TOKEN}&V4=${p.focus_score}`\n];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":520,"wires":[["2ac2a4dcb5c638e8"]]},{"id":"2ac2a4dcb5c638e8","type":"split","z":"b75ae1f8a1b5dfd2","name":"Split Blynk URLs","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":870,"y":520,"wires":[["f69fde836c98e330"]]},{"id":"f69fde836c98e330","type":"change","z":"b75ae1f8a1b5dfd2","name":"Set URL + GET","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"x":1080,"y":520,"wires":[["bacdc995d142fcff"]]},{"id":"bacdc995d142fcff","type":"http request","z":"b75ae1f8a1b5dfd2","name":"Send to Blynk","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"headers":[],"x":1270,"y":520,"wires":[["730d343cce79178d"]]},{"id":"730d343cce79178d","type":"debug","z":"b75ae1f8a1b5dfd2","name":"Blynk Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":520,"wires":[]},{"id":"808db0b85f0d3e1b","type":"influxdb out","z":"b75ae1f8a1b5dfd2","influxdb":"5723946f36d4858a","name":"SmartClassroomDB","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"MUICT","bucket":"Lab12_Gr09","x":940,"y":300,"wires":[]},{"id":"43e1219ca90dc0a8","type":"inject","z":"b75ae1f8a1b5dfd2","name":"Poll Blynk LED V10","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":360,"y":620,"wires":[["b9c8e9ecdb884fe8"]]},{"id":"b9c8e9ecdb884fe8","type":"http request","z":"b75ae1f8a1b5dfd2","name":"Get Blynk V10","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://blynk.cloud/external/api/get?token=1CgX374K7Kf02PIZQ6TW05d_RUOSxYgX&V10","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"headers":[],"x":600,"y":620,"wires":[["aed19cdad35302a2"]]},{"id":"aed19cdad35302a2","type":"function","z":"b75ae1f8a1b5dfd2","name":"Blynk V10 to LED MQTT","func":"// Convert Blynk V10 button value to ESP32 LED command\n// Send only when value changes, so it will not keep overwriting AUTO mode.\nlet value = String(msg.payload).trim();\n\nlet last = context.get(\"lastValue\");\nif (last === value) {\n    return null;\n}\ncontext.set(\"lastValue\", value);\n\nmsg.topic = \"classroom/control/led\";\n\nif (value === \"1\" || value === \"100\" || value.toUpperCase() === \"ON\") {\n    msg.payload = \"GREEN\";\n} else {\n    msg.payload = \"OFF\";\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`V10=${value} -> ${msg.payload}`});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":620,"wires":[["8a5027562f270e4c","7ac52fa9a2070d80"]]},{"id":"8a5027562f270e4c","type":"mqtt out","z":"b75ae1f8a1b5dfd2","name":"Blynk Remote LED Control","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_ff_telegram","x":1160,"y":600,"wires":[]},{"id":"7ac52fa9a2070d80","type":"debug","z":"b75ae1f8a1b5dfd2","name":"Debug Blynk LED Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":650,"wires":[]},{"id":"00ff8506ece54c27","type":"inject","z":"b75ae1f8a1b5dfd2","name":"Poll Blynk Servo V11","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":360,"y":720,"wires":[["d09e65dac10d412b"]]},{"id":"d09e65dac10d412b","type":"http request","z":"b75ae1f8a1b5dfd2","name":"Get Blynk V11","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://blynk.cloud/external/api/get?token=1CgX374K7Kf02PIZQ6TW05d_RUOSxYgX&V11","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"headers":[],"x":600,"y":720,"wires":[["292de4b28b61dbdf"]]},{"id":"292de4b28b61dbdf","type":"function","z":"b75ae1f8a1b5dfd2","name":"Blynk V11 to Servo MQTT","func":"// Convert Blynk V11 button value to ESP32 Servo command\n// Send only when value changes, so it will not keep overwriting AUTO mode.\nlet value = String(msg.payload).trim();\n\nlet last = context.get(\"lastValue\");\nif (last === value) {\n    return null;\n}\ncontext.set(\"lastValue\", value);\n\nmsg.topic = \"classroom/control/servo\";\n\nif (value === \"1\" || value === \"100\" || value.toUpperCase() === \"ON\") {\n    msg.payload = \"OPEN\";\n} else {\n    msg.payload = \"CLOSE\";\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`V11=${value} -> ${msg.payload}`});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":720,"wires":[["b947e78a3997232e","4a859b7b3d2412b8"]]},{"id":"b947e78a3997232e","type":"mqtt out","z":"b75ae1f8a1b5dfd2","name":"Blynk Remote Servo Control","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_ff_telegram","x":1160,"y":700,"wires":[]},{"id":"4a859b7b3d2412b8","type":"debug","z":"b75ae1f8a1b5dfd2","name":"Debug Blynk Servo Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":750,"wires":[]},{"id":"cd9d64b77c203d07","type":"inject","z":"b75ae1f8a1b5dfd2","name":"Poll Blynk Buzzer V12","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":350,"y":820,"wires":[["8796962438c0e6a2"]]},{"id":"8796962438c0e6a2","type":"http request","z":"b75ae1f8a1b5dfd2","name":"Get Blynk V12","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://blynk.cloud/external/api/get?token=1CgX374K7Kf02PIZQ6TW05d_RUOSxYgX&V12","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"headers":[],"x":590,"y":820,"wires":[["71327f43d236933e"]]},{"id":"71327f43d236933e","type":"function","z":"b75ae1f8a1b5dfd2","name":"Blynk V12 to Buzzer MQTT","func":"// Convert Blynk V12 button value to ESP32 Buzzer command\n// Send only when value changes, so it will not keep overwriting AUTO mode.\nlet value = String(msg.payload).trim();\n\nlet last = context.get(\"lastValue\");\nif (last === value) {\n    return null;\n}\ncontext.set(\"lastValue\", value);\n\nmsg.topic = \"classroom/control/buzzer\";\n\nif (value === \"1\" || value === \"100\" || value.toUpperCase() === \"ON\") {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`V12=${value} -> ${msg.payload}`});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":820,"wires":[["4ff97721c46add9b","85930709a116e3a7"]]},{"id":"4ff97721c46add9b","type":"mqtt out","z":"b75ae1f8a1b5dfd2","name":"Blynk Remote Buzzer Control","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_ff_telegram","x":1150,"y":800,"wires":[]},{"id":"85930709a116e3a7","type":"debug","z":"b75ae1f8a1b5dfd2","name":"Debug Blynk Buzzer Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":850,"wires":[]},{"id":"1c0d07820ee2784a","type":"function","z":"b75ae1f8a1b5dfd2","name":"Build ThingSpeak URL","func":"const p = msg.payload;\nconst KEY = 'IFK7OQJJIRCMUT7Z';\nmsg.url = `https://api.thingspeak.com/update?api_key=${KEY}&field1=${p.temperature}&field2=${p.humidity}&field3=${p.light}&field4=${p.motion}&field5=${p.focus_score}`;\nmsg.method = 'GET';\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":440,"wires":[["19b203f64b52ba0c"]]},{"id":"mqtt_broker_ff_telegram","type":"mqtt-broker","name":"EMQX Broker","broker":"broker.emqx.io","port":"1883","clientid":"node_red_classroom_telegram","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ui_group_main_telegram","type":"ui-group","name":"Environment / AI / Control","page":"ui_page_smart_telegram","width":"12","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"5723946f36d4858a","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"SmartClassroomDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","timeout":10,"rejectUnauthorized":true},{"id":"ui_page_smart_telegram","type":"ui-page","name":"Smart Classroom Telegram","ui":"ui_base_smart","path":"/smart-classroom-telegram","icon":"school","layout":"grid","theme":"ui_theme_smart_telegram","order":2,"className":"","visible":"true","disabled":"false"},{"id":"ui_base_smart","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"ui_theme_smart_telegram","type":"ui-theme","name":"Smart Theme Telegram","colors":{"surface":"#ffffff","primary":"#0f766e","bgPage":"#f3f4f6","groupBg":"#ffffff","groupOutline":"#d1d5db"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"12px","widgetGap":"12px"}},{"id":"503b54604e43f656","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.30.2","node-red-contrib-influxdb":"0.7.0"}}]